<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="BenSt099">
    <meta name="description" content="PDF-MultiTool Main Page: V. 1.0.0">
    <link rel="stylesheet" href="/css/StyleIndex.css">
    <link rel="stylesheet" href="/bootstrap-5.2.2-dist/css/bootstrap.min.css">
    <title>PDF-MultiTool</title>
</head>
<body>

    <div id="header">
        <h1 id="heading">PDF-MultiTool</h1>
        <h4>V.1.0.0</h4>
    </div>

    <div id="main-section">
            <ul class="nav nav-pills mb-3 justify-content-center" id="pills-tab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="pills-merge-tab" data-bs-toggle="pill" data-bs-target="#pills-merge"
                            type="button" role="tab" aria-controls="pills-merge" aria-selected="true">Merge</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="pills-split-tab" data-bs-toggle="pill" data-bs-target="#pills-split"
                            type="button" role="tab" aria-controls="pills-split" aria-selected="false">Split</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="pills-rename-tab" data-bs-toggle="pill" data-bs-target="#pills-rename"
                            type="button" role="tab" aria-controls="pills-rename" aria-selected="false">Rename</button>
                </li>
            </ul>
        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-merge" role="tabpanel" aria-labelledby="pills-merge-tab" tabindex="0">
                <div class="col d-flex justify-content-center">
                    <div class="card" style="width: 60rem;">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <label>Select Folder</label><br>
                                <form th:action="@{/merge/folder}" method="post">
                                    <button type="submit" class="btn btn-primary btn-lg">Browse Folder</button>
                                </form>
                            </li>
                            <li class="list-group-item">
                            <label>Choose Target Folder</label><br>
                            <form th:action="@{/merge/targetFolder}" method="post">
                                <button type="submit" class="btn btn-primary btn-lg">Browse Folder</button>
                            </form>
                            </li>
                            <li class="list-group-item">
                                <label>List of PDF-Files</label><br>
                                <div id="tablePdfs">
                                    <table class="table table-striped-columns">
                                        <thead>
                                        <tr>
                                            <h4 id="headingTable">List Of PDF Files</h4>
                                        </tr>
                                        </thead>
                                        <tbody class="table-group-divider">
                                        <tr>
                                            <td th:text="${v01}"></td>
                                            <td th:text="${v02}"></td>
                                            <td th:text="${v03}"></td>
                                            <td th:text="${v04}"></td>
                                            <td th:text="${v05}"></td>
                                        </tr>
                                        <tr>
                                            <td th:text="${v06}"></td>
                                            <td th:text="${v07}"></td>
                                            <td th:text="${v08}"></td>
                                            <td th:text="${v09}"></td>
                                            <td th:text="${v10}"></td>
                                        </tr>
                                        <tr>
                                            <td th:text="${v11}"></td>
                                            <td th:text="${v12}"></td>
                                            <td th:text="${v13}"></td>
                                            <td th:text="${v14}"></td>
                                            <td th:text="${v15}"></td>
                                        </tr>
                                        <tr>
                                            <td th:text="${v16}"></td>
                                            <td th:text="${v17}"></td>
                                            <td th:text="${v18}"></td>
                                            <td th:text="${v19}"></td>
                                            <td th:text="${v20}"></td>
                                        </tr>
                                        <tr>
                                            <td th:text="${v21}"></td>
                                            <td th:text="${v22}"></td>
                                            <td th:text="${v23}"></td>
                                            <td th:text="${v24}"></td>
                                            <td th:text="${v25}"></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <label>Choose Sequence Of PDF Files</label><br>
                                <form th:action="@{/merge/merging}" method="post">
                                    <input type="text" class="form-control" placeholder="Sequence" name="seq" aria-describedby="basic-addon2" title="Specify Sequence / Order Of Pdfs">

                                <label>Name Final PDF File</label><br>
                                    <div class="input-group mb-3" style="margin-top: 50px">
                                        <input type="text" class="form-control" placeholder="Name" name="name" aria-describedby="basic-addon2" title="Specify Name Of Final Pdf">
                                        <div class="input-group-append">
                                            <span class="input-group-text" id="basic-addon3">.pdf</span>
                                        </div>
                                    </div>

                                <label>Merge</label><br>

                                    <button type="submit" class="btn btn-primary btn-lg">Merge</button>
                                    <div id="mergingInfo">
                                        <p th:text="${name}">- - -</p>
                                    </div>
                                </form>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="pills-split" role="tabpanel" aria-labelledby="pills-split-tab" tabindex="0">
                <div class="col d-flex justify-content-center">
                    <div class="card" style="width: 60rem;">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <label>Select File</label>
                                <form action="#" th:action="@{/splitting/folder}" method="post">
                                    <button type="submit" class="btn btn-primary btn-lg">Browse File</button>
                                </form>
                            </li>
                            <li class="list-group-item">
                                <label>Name Of Selected File Is Displayed</label>
                                <div id="fileNameContainer">
                                    <p th:text="${filename}"></p>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <label>Input Sequence</label>
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control" name="inputseq" placeholder="Splitting" aria-describedby="basic-addon2">
                                    <span class="input-group-text" id="basic-addon2">e.g.: 1-2,4-6,7-9</span>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <label>Split Button</label>
                                <form action="#" th:action="@{/splitting/split}" method="post">
                                    <button type="submit" class="btn btn-primary btn-lg">Split</button>
                                </form>
                            </li>
                            <li class="list-group-item">
                                <label>Status</label>
                                <div id="statusContainer">
                                    <p th:text="${status}"></p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="pills-rename" role="tabpanel" aria-labelledby="pills-rename-tab" tabindex="0">


            </div>
        </div>
    </div>

    <footer>
        <div id="footer">
            <img src="/icons/github.svg" width="30" height="30" alt="GitHub-Icon">
            <a href="https://github.com/BenSt099/PDF-MultiTool">GitHub</a>
        </div>
    </footer>

    <script>
        setInterval(sendSignalToServer, 2000);
        function sendSignalToServer()
        {
            fetch("http://localhost:9000/BeatController/checkBeats");
        }
    </script>
    <script src="/bootstrap-5.2.2-dist/js/bootstrap.min.js"></script>
</body>
</html>